@model AdFlow.Models.Campanha

@{
    ViewData["Title"] = "Detalhes Campanhas";
}

<h1>Detalhes</h1>
<br>
<div>
    <h4>Campanha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orcamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orcamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
    </dl>
    <br>
    <div>
        @if (User.IsInRole("Administrador") || User.IsInRole("AnalistaOn") || User.IsInRole("AnalistaOff"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
        }
        <a asp-action="Index" class="btn btn-secondary">Retornar à Lista</a>
    </div>
</div>
<br>
<hr />
<br>
<h3>Fluxo da Campanha</h3>
<br>

<table class="table-adflow">
    <thead>
        <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Material</th>
            <th>Funcionário</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Fluxos)
        {
            <tr>
                <td>@item.DataCriacao</td>
                <td>@item.Descricao</td>
                <td>@item.Material?.Nome</td>
                <td>@item.Funcionario?.Nome</td>

            </tr>
        }
    </tbody>
</table>


